/* Product page ******************************************************/

.notInWishList .wishListRemoveLink,
.inWishList .wishListAddLink {
	display: none !important;
}


/* Wish list page ****************************************************/

.wishListActions li {
	list-style: none;
	display: inline-block;
}

.wishListActions li.left {
	float: left;
}
.wishListActions li.right {
	float: right;
}

h3.otherLists {
	margin-top: 1em;
	clear: both;
}

table.wishListTable {
	width: 100%;
	margin: 0 0 1em;
}
table.wishListTable .image {
	padding-bottom: 10px;
	width: 150px;
}

/* Edit/rename wish list form ****************************************/

#EditWishList {
	font-size: 33%;
	display: inline-block;
	vertical-align: middle;
}

#Form_WishListForm {
	display: none;
	margin-bottom: 25px;
}

#Form_WishListForm fieldset {
	float: left;
	margin-right: 5px;
}

#Form_WishListForm input[type=text] {
	font-size: 2em;
}

#Form_WishListForm div.field {
	margin: 0;
}

#Form_WishListForm div.Actions {
	margin: 0;
}

body.editingWishList #WishListTitle {
	display: none;
}
body.editingWishList #Form_WishListForm {
	display: block;
}

/* this just makes it compatible with bootstrap */
#Form_WishListForm .form-group {
	margin: 0;
	display: inline-block;
}
#Form_WishListForm input[type=text].form-control {
	font-size: 20px;
}

/* Clearfix ************************************************/

.wishListActions:before, #Form_WishListForm:before
.wishListActions:after, #Form_WishListForm:after {
	content: " ";
	display: table;
}
.wishListActions:after, #Form_WishListForm:after {
	clear: both;
}
